DB_URL=jdbc:mysql://localhost:3306/askme?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul
DB_USERNAME=askme
DB_PASSWORD=askme
FRONTEND_ORIGIN=http://localhost:5173
GOOGLE_STT_ENABLED=false
GOOGLE_STT_TIMEOUT_SECONDS=15
# GOOGLE_CREDENTIALS_FILE=./secrets/google-credentials.json
